.help-jumbotron {
  background-image: url("../../images/help-jumbotron.png");
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.help-jumbotron-text {
  margin: 0 auto;
  color: white;
  font-family: 'Amatic SC', serif;
  font-size: 84px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.help-ul {
  list-style-type: none;
  flex-direction: column;
  margin-top: -20px;
}

.help-li {
  margin: 0 auto;
  margin-top: 20px;
  margin-left: -50px;
  padding: 5px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.help-li:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f5d4aa;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.help-li:hover, .help-li:focus, .help-li:active {
  color: black;
}

.help-li:hover:before, .help-li:focus:before, .help-li:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.help-button {
  width: 30%;
  background-color: #f5d4aa;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .help-li {
    margin-left: -15px;
  }
}

@media screen and (max-width: 576px) {
  .help-li {
    margin-left: -20px;
  }
}

@media screen and (max-width: 490px) {
  .help-button {
    font-size: 16px;
  }
}