.about-us-card-title {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Amatic SC', serif;
  font-size: 48px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
}

.about-us-card-title:before {
  content: '';
  height: 4px;
  position: absolute;
  left: 51%;
  right: 51%;
  bottom: 0;
  z-index: -1;
  background: orange;
  transition-property: left, right;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  -webkit-transition-property: left, right;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
}

.about-us-card-title:hover:before, .about-us-card-title:focus:before, .about-us-card-title:active:before {
  left: 0;
  right: 0;
}
