body {
  background: #f8f9fb;
}

.jumbotron-background {
  height: 75vh;
  background-image: url("../../images/jumbotron-background.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-text {
  position: absolute;
  right: 90px;
  margin-top: 20px;
  color: white;
  font-family: 'Amatic SC', serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.home-text-col {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
}

.home-text-col:before {
  content: '';
  height: 10px;
  width: 90%;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 5%;
  z-index: -1;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
}

.home-text-col:hover, .home-text-col:focus, .home-text-col:active {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  /* move the element up by 10px */
}

.home-text-col:hover:before, .home-text-col:focus:before, .home-text-col:active:before {
  opacity: 1;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  /* move the element down by 10px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.home-text-1,
.home-text-2,
.home-text-3,
.home-text-4,
.home-text-5,
.home-text-6,
.home-text-7,
.home-text-8,
.home-text-9,
.home-text-10,
.home-text-11,
.home-text-12 {
  font-size: 82px;
}

.home-text-1,
.home-text-3,
.home-text-5,
.home-text-7,
.home-text-9,
.home-text-11 {
  margin-top: 50px;
}

@media screen and (max-width: 1140px) {
  .jumbotron-text {
    right: 30px;
    font-size: 56px;
  }

  .home-text-1,
  .home-text-2,
  .home-text-3,
  .home-text-4,
  .home-text-5,
  .home-text-6,
  .home-text-7,
  .home-text-8,
  .home-text-9,
  .home-text-10,
  .home-text-11,
  .home-text-12 {
    font-size: 64px;
  }
}

@media screen and (max-width: 991px) {
  .jumbotron-text {
    font-size: 64px;
  }

  .home-text-1,
  .home-text-2,
  .home-text-3,
  .home-text-4,
  .home-text-5,
  .home-text-6,
  .home-text-7,
  .home-text-8,
  .home-text-9,
  .home-text-10,
  .home-text-11,
  .home-text-12 {
    font-size: 48px;
  }

  .home-text-1,
  .home-text-3,
  .home-text-5,
  .home-text-7,
  .home-text-9,
  .home-text-11 {
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron-background {
    height: 60vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .jumbotron-text {
    margin-top: 10px;
    font-size: 56px;
  }

  .home-text-1,
  .home-text-2,
  .home-text-3,
  .home-text-4,
  .home-text-5,
  .home-text-6,
  .home-text-7,
  .home-text-8,
  .home-text-9,
  .home-text-10,
  .home-text-11,
  .home-text-12 {
    font-size: 72px;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron-text {
    margin-top: 50px;
  }
}

@media screen and (max-width: 490px) {
  .jumbotron-background {
    height: 50vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .jumbotron-text {
    margin-top: 80px;
  }

  .home-text-1,
  .home-text-2,
  .home-text-3,
  .home-text-4,
  .home-text-5,
  .home-text-6,
  .home-text-7,
  .home-text-8,
  .home-text-9,
  .home-text-10,
  .home-text-11,
  .home-text-12 {
    font-size: 56px;
  }
}

@media screen and (max-width: 402px) {
  .jumbotron-text {
    margin-top: 40px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 393px) {
  .home-text-1,
  .home-text-2,
  .home-text-3,
  .home-text-4,
  .home-text-5,
  .home-text-6,
  .home-text-7,
  .home-text-8,
  .home-text-9,
  .home-text-10,
  .home-text-11,
  .home-text-12 {
    font-size: 48px;
  }
}

@media screen and (max-width: 343px) {
  .home-text-1,
  .home-text-2,
  .home-text-3,
  .home-text-4,
  .home-text-5,
  .home-text-6,
  .home-text-7,
  .home-text-8,
  .home-text-9,
  .home-text-10,
  .home-text-11,
  .home-text-12 {
    font-size: 40px;
  }
}