.jumbotron-background {
  height: 75vh;
  background-image: url("../../images/main-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.jumbotron-image {
  margin-top: -10px;
  margin-right: 60px;
  float: right;
}

.jumbotron-text {
  position: absolute;
  right: 90px;
  margin-top: 20px;
  color: white;
  font-family: 'Amatic SC', serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px black;
}

.carousel-caption {
  font-family: 'Amatic SC', serif;
  text-shadow: 1px 1px black;
}