.privacy-jumbotron {
  background-image: url("../../images/privacy-jumbotron.jpg");
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.privacy-jumbotron-text {
  margin: 0 auto;
  color: white;
  font-family: 'Amatic SC', serif;
  font-size: 96px;
  text-align: center;
  text-shadow: 2px 2px black;
}