.navbar {
  width: 100%;
  position: fixed;
  overflow-anchor: none;
  transition: 0.5s;
  z-index: 1;
}

.navbar-logo {
  height: 100px;
  width: 220px;
  transition: 0.5s;
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-li {
  height: 100%;
  position: relative;
  display: flex;
  padding: 0 12px;
}

.navbar-phone,
.navbar-home,
.navbar-about,
.navbar-help {
  padding: 10px 5px;
  z-index: 1;
  text-decoration: none;
  font-size: 18px;
}

.navbar-li:before {
  content: '';
  height: 33.33%;
  width: 0;
  position: absolute;
  right: 0;
  top: 25%;
  z-index: 0;
  margin-right: 5px;
  background-color: #f5d4aa;
  transition: all 0.5s;
}

.navbar-li:after {
  content: '';
  height: 33.33%;
  width: 0;
  position: absolute;
  right: 0;
  bottom: 10%;
  z-index: 0;
  margin-right: 5px;
  background-color: #f5d4aa;
  transition: all 0.5s;
}

.navbar-phone:before,
.navbar-home:before,
.navbar-about:before,
.navbar-help:before {
  content: '';
  height: 33.33%;
  width: 0;
  position: absolute;
  right: 0;
  bottom: 75%;
  margin-right: 5px;
  background-color: #f5d4aa;
  transition: all 0.5s;
}

.navbar-li:hover:before,
.navbar-li:hover:after,
.navbar-li:hover .navbar-phone:before {
  width: 92%
}

.navbar-li:hover:before,
.navbar-li:hover:after,
.navbar-li:hover .navbar-home:before {
  width: 92%
}

.navbar-li:hover:before,
.navbar-li:hover:after,
.navbar-li:hover .navbar-about:before {
  width: 92%
}

.navbar-li:hover:before,
.navbar-li:hover:after,
.navbar-li:hover .navbar-help:before {
  width: 92%
}

.navbar-phone:after {
  content: '(833) GoPHPLA';
}

.navbar-phone:hover:after {
  content: '(833) 467-4752';
}

.navbar-donate-button {
  border-radius: 25px;
  margin-top: -8px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .navbar-ul {
    flex-direction: column;
  }

  .navbar-phone,
  .navbar-home,
  .navbar-about,
  .navbar-help {
    margin: 0 auto;
    font-size: 20px;
  }

  .navbar-li:hover:before,
  .navbar-li:hover:after,
  .navbar-li:hover .navbar-phone:before {
    display: none;
  }

  .navbar-li:hover:before,
  .navbar-li:hover:after,
  .navbar-li:hover .navbar-home:before {
    display: none;
  }

  .navbar-li:hover:before,
  .navbar-li:hover:after,
  .navbar-li:hover .navbar-about:before {
    display: none;
  }

  .navbar-li:hover:before,
  .navbar-li:hover:after,
  .navbar-li:hover .navbar-help:before {
    display: none;
  }

  .navbar-donate-button {
    width: 100%;
  }
}

@media screen and (max-width: 346px) {
  .navbar-toggle {
    margin: 0 auto;
  }
}